* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Myriad Pro Semibold';
    src: url('../fonts/MyriadPro-Semibold.eot');
    src: url('../fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Semibold.woff') format('woff'),
    url('../fonts/MyriadPro-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.no-list-style {
    list-style-type: none;
}

.no-dec-link {
    text-decoration: none;
}

.black-color-link{
    color: black;
}

.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 25px;
    align-items: flex-start;
    margin: 0 25px;
}

.wrapper-logo:first-child{
    margin-right: auto;
}

.wrapper-menu{
    margin-top: 10px;
    height: 30px;
    font-family: Tahoma;
    font-size: 11px;
}

.wrapper-menu::after{
    content: "|";
    color: #009fd3;
    margin-left: 10px; /* Отступ слева */
    margin-right: 10px; /* Расстояние от линии до текста */

}

.wrapper-menu:last-child:after{
    content: '';
    margin-left: 0; /* Отступ слева */
    padding-right: 0; /* Расстояние от линии до текста */
}

.delete-underline-hover:hover {
    text-decoration: none;
}

.img-logo{
    width: 174px;
    height: 43px;
}

.all-page{
    background-color: #d0d0d0;
    width: 100%;
}

.background-head-image, .header,.main{
    width:952px;
    background: white;
    margin: 0 auto;
}

.menu{
    width: 730px;
}

.background-head-image{
    position: relative;
}

.image{
    position: absolute;
    width: 100%;
    height: 108px;
}

.border{
    position: absolute;
    width: 100%;
    border-top: 4px solid #a3bed4;
}

.text-background{
    position: absolute;
    top: 42px;
    left: 128px;
    width: 824px;
    font-family: 'Myriad Pro Semibold', Arial, "Times New Roman";
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
}

.menu-head{
    display: flex;
    padding-left: 222px;
    height: 31px;
    margin-top: 106px;
    position: relative ;
    background: linear-gradient(to top, #c2c4e4, #f0f0f9);
    border-bottom: 4px solid #a3a6d4;
    font-family: 'Myriad Pro Semibold', Arial, "Times New Roman";
    Font-size: 14px;
    color: #0b4367;
    width: 100%;
}

.li-menu{
    position: relative;
    height: 21px;
    padding: 10px 15px 0;
    width: auto;
}

.drop-down{
    left: 0;
    right: 0;
    position: absolute;
    font-family: Tahoma;
    font-size: 11px;
    background: #9fcee0;
    margin-top: 4.2px;
}

.li-menu:hover .drop-down{
    border-top: 4px solid #0b4367;
}

.href-drop-down{
    color: #0b4367;
}

.href-menu-head{
    color: #0b4367;
    display: block;
    text-align: center;
}

.li-menu:hover{
    background: linear-gradient(to top, #3e83ab, #bedde9);
    cursor: pointer;
    border-bottom: 4px solid #0b4367;
}

.li-menu:hover .href-menu-head{
    color: white;

}

.li-drop-down{
    display: none;
    padding: 10px 0 10px 10px;
}

.li-drop-down:hover {
    background: #256893;
    cursor: pointer;

}
.li-drop-down:hover .href-drop-down{
    color: white;
    position: relative;

}

.li-menu:hover .li-drop-down{
    display: block;
    position: relative;
}



.left-sidebar{
    background: #e7e6ef;
    width: 222px;
    height: 730px;
}

.top-left-menu{
    background: #7371b1;
    width: 222px;
    height: 31px;
}

.top-left-menu-name{
    width: auto;
    font-family: 'Myriad Pro Semibold',Arial,"Times New Roman";
    font-size: 18px;
    padding-top: 5px;
    padding-left: 25px;
    margin-right: 0;
    color: white;
}

.left-menu{
    list-style-image: url("../img/left-menu-marker-exchange.png");
    line-height: 17px;
    background-color: transparent;
    margin-left: 35px;
    font-family: Tahoma, Arial, "Times New Roman";
    font-size: 12px;
}

.exchange-marker{
    margin-top: 10px;
}

.exchange-marker:hover  {
    list-style-image: url("../img/left-menu-marker.png");
}

.main{
    display: flex;
}

.right-content{
    margin-left: 40px;
    margin-right: 40px;
}

.right-menu{
    display: flex;
    margin-top: 12px;
}

.right-menu-element{
    font-family: Tahoma, Arial, "Times New Roman";
    font-size: 11px;
}

.right-menu-element:after{
    content: url("../img/arrow.png");
    margin-right: 5px;
    margin-left: 5px;
}

.right-menu-element:last-child:after{
    content: '';
}

.delete-cursor{
    cursor: default;
    text-decoration: none;
}

.img-right-menu{
    float: left;
    width: 150px;
    height: 180px;
}

.bottom-right-menu{
    display: flex;
}

.bottom-menu:after{
    content: "|";
    color: #009fd3;
    margin-left: 10px; /* Отступ слева */
    margin-right: 10px; /* Расстояние от линии до текста */
}

.bottom-menu:last-child:after{
    content: '';
}

.name-page{
    font-family: 'Myriad Pro Semibold', Arial, "Times New Roman";
    font-size: 24px;
    color: #1d5c85;
    margin-bottom: 15px;
    margin-top:15px;
}

.caption-author{
    font-size: 17px;
    font-family: Tahoma, Arial, "Times New Roman";
    color: #64639b;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: normal;
}

.img-right-menu{
    margin-top: 10px;
    margin-right: 25px;
}

.text-about-author{
    font-family: Verdana,Arial,"Times New Roman";
    font-size: 12px;
    font-weight: normal ;
}

.about-author{
    margin-top: 25px;
    margin-bottom: 30px;
    width:  648px;
}


.information-about-people{
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    width:  648px;
}

.bottom-menu{
    font-family: Tahoma, Arial, "Times New Roman";
    font-size: 11px;
    margin-top: 22px;
    margin-bottom: 14px;
}

.footer{
    background: #7371b1;
    width: 952px;
    height: 80px;
    margin: 0 auto;
}

.copyright{
    margin-top: 17px;
    margin-left: 25px;
    float: left;
    color: white;
    font-family: Tahoma, Arial, "Times New Roman";
    font-size: 11px;
}

.white-link-in-tel-and-mail{
    color: white;
}

.logo-bottom{
    margin-top: 23px;
    float: right;
    margin-right: 25px;
}